body {
    background-color: navy;
}

h1 {
  font-weight: bold;
  font-family: 'Open Sans';
  font-size: 24pt;
  color: blue;
  text-shadow: 2px 2px 8px grey;
}

h2 {
  font-weight: bold;
  font-family: 'Open Sans';
  color: grey;
  text-shadow: 2px 2px 4px silver;
}

.pageContent {
  background-color: white;
  max-width: 900px;
  min-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#snakeCanvas {
    width: 800px;
    height: 600px;
    background-color: lightGreen;
}
